<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Welcome Home!</h1>
    <hr>
    <a href="/number">Number Page</a><br>
    <a href="/word">Word Page</a>
  </body>
</html>
